language: rust

git:
  depth: false

os:
  - linux
  - osx

dist: trusty
sudo: required

cache:
  cargo: true
  timeout: 240
  directories:
    - $HOME/.cargo
    - $TRAVIS_BUILD_DIR/target

before_cache:
  - rm -rf $TRAVIS_BUILD_DIR/target/tmp

rust:
  - stable

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-5
      - cmake
      - libcurl4-openssl-dev
      - libelf-dev
      - libdw-dev
      - cmake
      - gcc
      - binutils-dev

env:
  global:
  - RUST_BACKTRACE="1"
  - RUST_FLAGS="-C debug-assertions"
  matrix:
    include:
      - os: linux
        env: TEST_SUITE=servers
      - os: linux
        env: TEST_SUITE=chain-core
      - os: linux
        env: TEST_SUITE=pool-p2p
      - os: linux
        env: TEST_SUITE=keychain-wallet
      - os: linux
        env: TEST_SUITE=api-util-store
      - os: osx
        env: TEST_SUITE=release

script:
  - IFS='-' read -r -a DIRS <<< "$TEST_SUITE"; DIR=${DIRS[0]};
    echo "start testing on folder $DIR...";
    if [[ -n "$DIR" ]] && [[ "$TRAVIS_OS_NAME" == "linux" ]];  then cd $DIR && cargo test --release && cd - > /dev/null; fi;
  - IFS='-' read -r -a DIRS <<< "$TEST_SUITE"; DIR=${DIRS[1]};
    if [[ -n "$DIR" ]];  then
      echo "start testing on folder $DIR...";
      cd $DIR && cargo test --release && cd - > /dev/null;
    fi;
  - IFS='-' read -r -a DIRS <<< "$TEST_SUITE"; DIR=${DIRS[2]};
    if [[ -n "$DIR" ]];  then
      echo "start testing on folder $DIR...";
      cd $DIR && cargo test --release && cd - > /dev/null;
    fi;

before_deploy:
  - if [[ "$TEST_SUITE" == "pool-p2p" ]]; then
      cargo clean && cargo build --release && ./.auto-release.sh;
    fi
  - if [[ "$TEST_SUITE" == "release" ]]  && [[ "$TRAVIS_OS_NAME" == "osx" ]]; then
      brew update;
      cargo clean && cargo build --release && ./.auto-release.sh;
    fi

deploy:
  provider: releases
  api_key:
    secure: Q0wrjfdRoieovGUe3JIcdU6iUM1kbAphVO0plvYt2aO4Y6z2TyJnfmheKBP09DhDcmVf/X6ZuRqSViaC5xuI01YF/9wwkXuXCcv2jMD8pUy4z08cVOykCe/rmlGp1oT2Ev0QCfo5klRJSFnQREUJiJpWW6/APRMSeh7uFbz9GmWF4bKObVKC+YkeGbN8rC4kPssPnZ1qt2Xbj1myDbgCH8D5yBtSlpI1hQ9iqh3Rrm2hYs6C5tKkoFxDfgGNQdgyJOfLLUCKfKHzdGL715JG+wyM/GNoH9cSug9REekIt6YCxdxanUheUA4ZJ0EZY4MSn7pL1uyJKPycWVnOqzXQM6qP4S1mNyvc6WPLe4fnSCZwGdsSZo1JT0JdomYK+bF7El+gSZoKrurBJnqixWCuU3eVu/qL31G91QSpOqi1jZTJgQwL0GKyvMpNfoEshXoGkYtEu9ByQX4TizIrIqxyKYud7URrFQAWpwDAY/bgSz5zVDkP9EEK3rEIuB/MRMeQi0zmqAEzmZ/Yus1wmHsjkc99Mlpp1ZS3VYbQO20LAsVo2kJF//TJ0aOvyaNkrERv7CL+oSlckqbjogbHlFoe3tGewvDJe0UGECT60YoeinxFGps2JmpyK6FqRXsPjLSl0gTdQp24/Sl5g1eFTpWsjEcaYXfsP6CYkdra3pHdLz4=
  file_glob: true
  file: target/release/grin-*.tgz*
  skip_cleanup: true
  on:
    repo: garyyu/grin
    tags: true
