[package]
name = "grin"
version = "0.1.0"
authors = ["Ignotus Peverell <igno.peverell@protonmail.com>"]
exclude = ["**/*.grin", "**/*.grin2"]

[workspace]
members = ["api", "chain", "config", "core", "grin", "keychain", "p2p", "store", "util", "pool", "wallet"]

[dependencies]
grin_api = { path = "./api" }
grin_wallet = { path = "./wallet" }
grin_keychain = { path = "./keychain" }
grin_grin = { path = "./grin" }
grin_config = { path = "./config" }
grin_core = { path = "./core" }
grin_pow = { path = "./pow"}
grin_util = { path = "./util"}
secp256k1zkp = { git = "https://github.com/mimblewimble/rust-secp256k1-zkp" }
blake2-rfc = "~0.2.17"
clap = "^2.23.3"
daemonize = "^0.2.3"
serde = "~1.0.8"
serde_derive = "~1.0.8"
serde_json = "~1.0.2"
slog = { version = "^2.0.12", features = ["max_level_trace", "release_max_level_trace"] }

# TODO - once "patch" is available we should be able to clean up the workspace dependencies
# [patch.crate-io]
# secp256k1zkp = { git = "https://github.com/mimblewimble/rust-secp256k1-zkp" }
