[package]
name = "grin"
version = "0.1.0"
authors = ["Ignotus Peverell <igno.peverell@protonmail.com>"]

[workspace]
members = ["api", "chain", "config", "core", "grin", "p2p", "store", "util", "pool", "wallet"]

[dependencies]
grin_api = { path = "./api" }
grin_wallet = { path = "./wallet" }
grin_grin = { path = "./grin" }
grin_config = { path = "./config" }
grin_core = { path = "./core" }
grin_pow = { path = "./pow"}
secp256k1zkp = { path = "./secp256k1zkp" }

blake2-rfc = "~0.2.17"
clap = "^2.23.3"
daemonize = "^0.2.3"
env_logger="^0.3.5"
log = "^0.3"
serde = "~1.0.8"
serde_derive = "~1.0.8"
serde_json = "~1.0.2"
