[package]
name = "grin"
version = "0.1.0"
authors = ["Grin Developers <mimblewimble@lists.launchpad.net>"]
exclude = ["**/*.grin", "**/*.grin2"]
publish = false
build = "src/build/build.rs"

[workspace]
members = ["api", "chain", "config", "core", "grin", "keychain", "p2p", "store", "util", "pool", "wallet"]

[[bin]]
name = "grin"
path = "src/bin/grin.rs"

[dependencies]
blake2-rfc = "0.2"
chrono = "0.4"
clap = "2.23"
daemonize = "0.2"
serde = "1"
serde_json = "1"
slog = { version = "2.1", features = ["max_level_trace", "release_max_level_trace"] }
term = "0.4"
time = "0.1"

grin_api = { path = "./api" }
grin_config = { path = "./config" }
grin_core = { path = "./core" }
grin_grin = { path = "./grin" }
grin_keychain = { path = "./keychain" }
grin_p2p = { path = "./p2p"}
grin_pow = { path = "./pow"}
grin_util = { path = "./util"}
grin_wallet = { path = "./wallet" }

#This is temporary until cursive author does a new release
[dependencies.cursive]
git = "https://github.com/yeastplume/Cursive"
tag = "grin_integration_1"

# TODO - once "patch" is available we should be able to clean up the workspace dependencies
# [patch.crate-io]
# secp256k1zkp = { git = "https://github.com/mimblewimble/rust-secp256k1-zkp" }

[build-dependencies]
built = "0.2"
