# Sample Server Configuration File for Grin
#
# When running the grin executable without specifying any command line
# arguments, it will look for this file in three places, in the following
# order:
#
# -The working directory
# -The directory in which the executable resides
# -[user home]/.grin
#

#Server connection details
[server]

#the address on which services will listen, e.g. Transaction Pool

api_http_addr = "127.0.0.1:13413"

#the directory, relative to current, in which the grin blockchain
#is stored

db_root = ".grin"

#How to seed this server, can be None, List or WebStatic

seeding_type = "None"

#if seeding_type = List, the list of peers to connect to.
#seeds = ["192.168.0.1:8080","192.168.0.2:8080"]

#The mining parameter mode, which defines the set of cuckoo parameters
#used for mining. Can be:
#AutomatedTesting - For CI builds and instant blockchain creation
#UserTesting - For regular user testing, much lighter than production more
#Production - Full production cuckoo parameters

mining_parameter_mode = "UserTesting"

#7 = Bit flags for FULL_NODE, this structure needs to be changed
#internally to make it more configurable

capabilities = [7]

#The P2P server details (i.e. the server that communicates with other
#grin server nodes

[server.p2p_config]
host = "127.0.0.1"
port = 13414

#Mining details. This section is optional. If it's not here, the server
#will default to not mining.
[mining]

#flag whether mining is enabled

enable_mining = true

#Whether to use cuckoo-miner,  and related parameters

use_cuckoo_miner = true

#Whether to use async mode for cuckoo miner, if the plugin supports it.
#this allows for many searches to be run in parallel, e.g. if the system
#has multiple GPUs. This creates overhead, especially on faster test miners,
#so in a post-release world this should only be used if you really want
#to run cards in parallel

cuckoo_miner_async_mode = false

#If using cuckoo_miner, the directory in which plugins are installed
#if not specified, grin will look in the directory /deps relative
#to the executable

#cuckoo_miner_plugin_dir = "target/debug/plugins"

#if using cuckoo_miner, the implementation to use.. currently
#just filters for this word in the filenames in the plugin
#directory
#Plugins currently included are:
#"simple" : the basic cuckoo algorithm
#"edgetrim" : an algorithm trading speed for a much lower memory footprint
#"matrix" : fastest available CPU miner, with largest memory footprint
#"tomato" : Time memory-tradeoff... low memory but very slow
#Not included but verified working:
#"cuda" a gpu miner - which currently needs to bebuilt and installed
#separately from#the cuckoo-miner repository. Instructions found there

cuckoo_miner_plugin_type = "simple"

#the list of parameters if you're using "edgetrim or matrix"
#cuckoo_miner_parameter_list = {NUM_THREADS=4, NUM_TRIMS=7}

#The amount of time, in seconds, to attempt to mine on a particular
#header before stopping and re-collecting transactions from the pool

attempt_time_per_block = 30

#the wallet reciever to which coinbase rewards will be sent

wallet_receiver_url = "http://127.0.0.1:13416"

#whether to ignore the reward (mostly for testing)

burn_reward = true

#testing value, optional
#slow_down_in_millis = 30
