# Sample Server Configuration File for Grin
#
# When running the grin executable without specifying any command line
# arguments, it will look for this file in three places, in the following
# order:
#
# -The working directory
# -The directory in which the executable resides
# -[user home]/.grin
#

#########################################
### SERVER CONFIGURATION              ###
#########################################

#Server connection details
[server]

#the address on which services will listen, e.g. Transaction Pool

api_http_addr = "127.0.0.1:13413"

#the directory, relative to current, in which the grin blockchain
#is stored

db_root = ".grin"

#How to seed this server, can be None, List or WebStatic

seeding_type = "None"

#if seeding_type = List, the list of peers to connect to.
#seeds = ["192.168.0.1:8080","192.168.0.2:8080"]

#The mining parameter mode, which defines the set of cuckoo parameters
#used for mining. Can be:
#AutomatedTesting - For CI builds and instant blockchain creation
#UserTesting - For regular user testing (cuckoo 16)
#Production - Full production cuckoo parameter (cuckoo 30)

mining_parameter_mode = "UserTesting"

#7 = Bit flags for FULL_NODE, this structure needs to be changed
#internally to make it more configurable

capabilities = [7]

#The P2P server details (i.e. the server that communicates with other
#grin server nodes

[server.p2p_config]
host = "127.0.0.1"
port = 13414

#########################################
### LOGGING CONFIGURATION             ###
#########################################

[logging]

# Whether to log to stdout
log_to_stdout = true

# Log level for stdout: Critical, Error, Warning, Info, Debug, Trace
stdout_log_level = "Debug"

# Whether to log to a file
log_to_file = true

# Log level for file: Critical, Error, Warning, Info, Debug, Trace
file_log_level = "Trace"

# Log file path
log_file_path = "grin.log"

# Whether to append to the log file (true), or replace it on every run (false)
log_file_append = true

#########################################
### MINING CONFIGURATION              ###
#########################################

#Mining details. This section is optional. If it's not here, the server
#will default to not mining.
[mining]

#flag whether mining is enabled

enable_mining = false

#Whether to use cuckoo-miner,  and related parameters

use_cuckoo_miner = true

#Whether to use async mode for cuckoo miner, if the plugin supports it.
#this allows for many searches to be run in parallel, e.g. if the system
#has multiple GPUs, or if you want to mine using multiple plugins 

cuckoo_miner_async_mode = false

#If using cuckoo_miner, the directory in which plugins are installed
#if not specified, grin will look in the directory /deps relative
#to the executable

#cuckoo_miner_plugin_dir = "target/debug/plugins"

#The amount of time, in seconds, to attempt to mine on a particular
#header before stopping and re-collecting transactions from the pool

attempt_time_per_block = 90

#the wallet reciever to which coinbase rewards will be sent

wallet_receiver_url = "http://127.0.0.1:13415"

#whether to ignore the reward (mostly for testing)

burn_reward = false

#testing value, optional
#slow_down_in_millis = 30

#########################################
### CUCKOO MINER PLUGIN CONFIGURATION ###
#########################################

# These entries configure instances of cuckoo miner
# plugins if the 'use_cuckoo_miner' value above is
# set to 'true'.
#
# Multiple plugins can be specified, (e.g. a cpu
# miner and a gpu miner running in parallel). However,
# if 'use_async_mode' above is set to 'false', only
# the first plugin specified will be used for mining
# in single-threaded mode

# You'll likely get the best performance using a
# single GPU and single CPU plugin in parallel

#The fastest cpu algorithm, but consumes the most memory
#Also requires instructions that aren't available on
#older processors. In this case, use mean_compat_cpu
#instead
#[[mining.cuckoo_miner_plugin_config]]
#type_filter = "mean_cpu"
#parameter_list = {NUM_THREADS=4, NUM_TRIMS=68}

#Same as above, but for older processors. Will be slightly
#slower.
[[mining.cuckoo_miner_plugin_config]]
type_filter = "mean_compat_cpu"
parameter_list = {NUM_THREADS=4, NUM_TRIMS=68}

#note lean_cpu currently has a bug which prevents it from
#working with threads > 1

#[[mining.cuckoo_miner_plugin_config]]
#type_filter = "lean_cpu"
#parameter_list = {NUM_THREADS=1, NUM_TRIMS=7}

#CUDA verion of lean miner
#Can currently be used only in Production (30) Mode
#This plugin is not built by default. To build:
#1) Ensure the latest cuda toolkit is installed
#   (nvcc should be on the pat)
#2) Uncomment the 'build-cuda-plugin' feature
#   in pow/Cargo.toml

#[[mining.cuckoo_miner_plugin_config]]
#type_filter = "lean_cuda"
#parameter_list = {}
