[package]
name = "grin_keychain"
version = "0.1.0"
authors = ["Antioch Peverell"]

[dependencies]
byteorder = "~1"
blake2-rfc = "~0.2.17"
rand = "~0.3"
slog = { version = "^2.0.12", features = ["max_level_trace", "release_max_level_trace"] }
serde = "~1.0.8"
serde_derive = "~1.0.8"
serde_json = "~1.0.3"
grin_util = { path = "../util" }
