[package]
name = "grin_servers"
version = "0.3.0"
authors = ["Grin Developers <mimblewimble@lists.launchpad.net>"]
workspace = ".."
publish = false

[dependencies]
hyper = "0.12"
itertools = "0.7"
lmdb-zero = "0.4.4"
rand = "0.3"
slog = { version = "~2.2", features = ["max_level_trace", "release_max_level_trace"] }
serde = "1"
serde_derive = "1"
serde_json = "1"
chrono = "0.4.4"
bufstream = "~0.1"
jsonrpc-core = "~8.0"

grin_api = { path = "../api" }
grin_chain = { path = "../chain" }
grin_core = { path = "../core" }
grin_keychain = { path = "../keychain" }
grin_p2p = { path = "../p2p" }
grin_pool = { path = "../pool" }
grin_store = { path = "../store" }
grin_util = { path = "../util" }
grin_wallet = { path = "../wallet" }

[dev-dependencies]
blake2-rfc = "0.2"
grin_config = { path = "../config" }
