[package]
name = "grin_core"
version = "0.1.0"
authors = ["Ignotus Peverell <igno.peverell@protonmail.com>"]
workspace = ".."

[dependencies]
bitflags = "~0.7.0"
byteorder = "^0.5"
num-bigint = "^0.1.35"
rust-crypto = "^0.2"
rand = "^0.3"
serde = "~0.9.10"
serde_derive = "~0.9.10"
time = "^0.1"
tiny-keccak = "1.1"

secp256k1zkp = { path = "../secp256k1zkp" }
