[package]
name = "grin_core"
version = "0.1.0"
authors = ["Ignotus Peverell <igno.peverell@protonmail.com>"]
workspace = ".."

[dependencies]
bitflags = "~0.7.0"
blake2-rfc = "~0.2.17"
byteorder = "^0.5"
slog = { version = "^2.0.12", features = ["max_level_trace", "release_max_level_trace"] }
num-bigint = "^0.1.35"
rand = "^0.3"
serde = "~1.0.8"
serde_derive = "~1.0.8"
time = "^0.1"
lazy_static = "~0.2.8"
grin_keychain = { path = "../keychain" }
grin_util = { path = "../util" }
