[package]
name = "grin_core"
version = "0.4.2"
authors = ["Grin Developers <mimblewimble@lists.launchpad.net>"]
description = "Chain implementation for grin, a simple, private and scalable cryptocurrency implementation based on the MimbleWimble chain format."
license = "Apache-2.0"
repository = "https://github.com/mimblewimble/grin"
keywords = [ "crypto", "grin", "mimblewimble" ]
workspace = ".."
publish = false

[dependencies]
bitflags = "1"
blake2-rfc = "0.2"
byteorder = "1"
croaring = "=0.3"
failure = "0.1"
failure_derive = "0.1"
lazy_static = "1"
lru-cache = "0.1"
num = "0.2"
num-bigint = "0.2"
rand = "0.5"
serde = "1"
serde_derive = "1"
siphasher = "0.2"
log = "0.4"
chrono = "0.4.4"

grin_keychain = { path = "../keychain" }
grin_util = { path = "../util" }

[dev-dependencies]
grin_wallet = { path = "../wallet" }
