[package]
name = "grin_chain"
version = "0.1.0"
authors = ["Ignotus Peverell <igno.peverell@protonmail.com>"]

[dependencies]
bitflags = "^0.7.0"
byteorder = "^0.5"
log = "^0.3"
time = "^0.1"

grin_core = { path = "../core" }
grin_store = { path = "../store" }
secp256k1zkp = { path = "../secp256k1zkp" }

[dev-dependencies]
env_logger="^0.3.5"
rand = "^0.3"
